@media (max-width: 768px) {
    .main {
        position: static !important;
        /* Ensure normal behavior */
        height: 300vh;
        width: 100vw;
        max-width: 100%;
    }

    .flexWrapper {
        padding-top: 150px !important;
    }
}

/*
const LayoutWrapper = styled.div`
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  gap: 20px; 
`;

const Content = styled.div`
  flex: 1;
  overflow: auto;
  padding: 1rem 0.5rem;
`;
*/